.AppFooter-container {
  height: 250px;
  width: 100%;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: end;
}

.AppFooter-cpoyrigt-text {
  font-size: clamp(12px, 1vw, 20px);
}
